<div class="container-fluid">
	<div class="container">
		<div class="row">
			<h1 style="text-align:center;">TRENDO</h1>
		</div>

		<div class="row" style="margin-top:50px;">
			<div class="col-xs-12 col-md-4 col-md-offset-4">
				<div class="col-xs-12">
					<a ui-sref="userSignin" class="btn btn-primary btn-block">Business Login</a>
				</div>
				<div class="col-xs-12" style="margin-top:30px;">
					<a ui-sref="adminSignin" class="btn btn-primary btn-block">Admin Login</a>
				</div>
			</div>
		</div>
	</div>
</div>




